<html>
<head>
    <title>Bug #{{ bug["ID"] }} Details</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css">
</head>
<body class="container mt-5">
    <h2>Bug #{{ bug["ID"] }} - Details</h2>
    <table class="table table-bordered">
        <tr><th>Title</th><td>{{ bug["Title"] }}</td></tr>
        <tr><th>Description</th><td>{{ bug["Description"] }}</td></tr>
        <tr><th>File Name</th><td>{{ bug["File Name"] }}</td></tr>
        <tr><th>Priority</th><td>{{ bug["Priority"] }}</td></tr>
        <tr><th>Bug Type</th><td>{{ bug["Bug Type"] }}</td></tr>
        <tr><th>Status</th><td>{{ bug["Status"] }}</td></tr>
        <tr><th>GitHub PR/Commit</th><td>
            {% if bug["GitHub PR/Commit"] %}
                <a href="{{ bug['GitHub PR/Commit'] }}" target="_blank">{{ bug["GitHub PR/Commit"] }}</a>
            {% else %}
                No link provided
            {% endif %}
        </td></tr>
        <tr><th>Attachment</th><td>
            {% if bug["Attachment"] %}
                <a href="{{ url_for('uploadedFile', filename=bug['Attachment']) }}" download>
                    {{ bug["Attachment"] }}
                </a>
            {% else %}
                No file attached
            {% endif %}
        </td></tr>        
        <tr><th>Last Updated</th><td>{{ bug["Last Updated"] }}</td></tr>
        <tr><th>Created By</th><td>{{ bug["Created By"] }}</td></tr>
    </table>
    <a href="{{ url_for('updateBug', bug_id=bug['ID']) }}" class="btn btn-warning">Update Status</a>
    <a href="{{ url_for('index') }}" class="btn btn-secondary">Back</a>
</body>
</html>
